/* JavaJam - created for web case study chapter 6 2/22/2020 p.290 */
/* javajam.css */


		/* element selector style rules */
/* style rules for main element adds padding, margin space for the navigation column and a default background color */	

main {
	display: block; /* added for improved display when using internet explorer */
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2em;
	padding-top: 0;
	margin-left: 200px;
	background-color: #FEF6C2;}
main h2, main h3, main h4, main p, main div, main ul, main dl{ /* style rules for decendants of the main element, h2, h3, h4, paragraph, divs, and lists left and right padding */
	padding-left: 3em;
	padding-right: 2em;}

/* style rules for body element, background pattern image and default light brown background, dark text and font selections */
body {
	background-image: url("background.gif");
	background-color: #FCEBB6;
	color: #221811; 
	font-family: Verdana,Arial,sans-serif;}

/* style rules for header element, include Javajam logo and default background color */
header {
	display: block; /* added for improved display when using internet explorer */
	background-image: url("javajamlogo.jpg");
	background-repeat: no-repeat;
	background-color: #D2B48C;
	height: 150px;}

/* style rules for h1 element, padding and font size increase */
h1 {
	padding-left: 220px;
	padding-top: 45px;
	font-size: 3em;}

/* style rules for h4 element, padding, color a bottom border font size increase and clears left floats */
h4 {
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	clear: left;}
	
/* style rules for nav element, center larger bold text and float left */
nav {
	display: block; /* added for improved display when using internet explorer */
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	float: left;
	width: 200px;}
	
/* style rule for the nav to remove underline text */
nav a {
	text-decoration: none;}
/* style rule for the nav to include pseudo classes for links, visited links and hovering over a link */
nav a:link {color: #FEF6C2;}
nav a:visited {color: #D2B48C;}
nav a:hover {color: #CC9933;}	
/* style rule for the nav list to remove markers and padding */
nav ul {
	list-style-type: none;
	padding-left: 0;}

/* style rules for footer element include center alignment, reduced text size and display italics, also displays a mocha/brown color and top border */
footer {
	display: block; /* added for improved display when using internet explorer */
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;}
	
/* style rules for the img element include left and right padding */	
img {
	padding-left: 10px;
	padding-right: 10px;}
/* style rules for universal selector to include padding and border in an elements total width and height */	
*	{
	box-sizing: border-box;}


	/* ID selector declarations: */
/* style rules for the wrapper include min, max and overall width, configure background color, center alignment and creates a shadow affect */
#wrapper {
	background-color: #231814;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 5px 5px 5px #828282;
	width:80%;
	margin-right: auto;
	margin-left: auto;}	

/* style rules for an image banner to fill in the areas whole space */
#heroroad {
	background-image: url("heroroad.jpg");
	background-size: 100% 100%;
	height: 250px;}

#heromugs {
	background-image: url("heromugs.jpg");
	background-size: 100% 100%;
	height: 250px;}

#heroguitar {
	background-image: url("heroguitar.jpg");
	background-size: 100% 100%;
	height: 250px;}

#mobile {
	display: none;}

#desktop {
	display: inline;}	

		/* Class selector declarations */
.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;}
/* style rules for class to float left and provide bottom and right padding */
.floatleft {
	float: left;
	padding-right: 2em;
	padding-bottom: 2em;}
	
	
@media only screen and (max-width: 1024px) {
body {
	margin: 0;
	background-image: none;}
#wrapper {
	width: auto;
	min-width: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;}
header {
	border-bottom: 5px solid #FEF6C2;}
h1 {
	margin: 0;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 2.5em;}
nav {
	float: none;
	width: auto;
	padding-top: 0;
	margin: 10px;
	font-size: 1.3em;}
nav li {
	display: inline-block;}
nav a {
	padding: 1em;
	width: 8em;
	font-weight: bold;
	border-style: none;}
nav ul {
	padding: 0;
	margin: 0;}
#heroroad {
	margin: 0;
	padding: 0;}
#heromugs {
	margin: 0;
	padding: 0;}
#heroguitar {
	margin: 0;
	padding: 0;}
main {
	margin: 0;
	font-size: 90%;}
}	

@media only screen and (max-width: 768px) {
header {
	background-image: url(javajammini.jpg);
	height: 128px;}  /* Dimension of javajammini.jpg (128px), creates proper display of header */
h1 {
	font-size: 2em;
	text-align: center;
	padding-left: 0;}
nav {
	margin: 0;}
nav a {
	display: block;
	padding: 0.2em;
	width: auto;
	border-bottom: 1px solid #FEF6C2;}
nav li {
	display: block;}
main {
	padding-top: 1px;}
h2 {
	padding: 0.5em 0 0 0.5em;
	margin-right: 0.5em;}
.details {
	padding-left: 0;
	padding-right: 0;}
#heroroad {
	background-image: none;
	height: auto;}
#heromugs {
	background-image: none;
	height: auto;}
#heroguitar {
	background-image: none;
	height: auto;}
.floatleft {
	padding-left: 0.5em;
	padding-right: 0.5em;}
#mobile {
	display: inline;}
#desktop {
	display: none;}
}